.tela-login {
     display: flex;
     flex-direction: column;
     margin: auto;
    // margin-top: 50%;
    //max-width: 800px;
    //vertical-align: middle;
    justify-content: center;
    align-items: center;
 }
 
 .logo-andi {
     display: flex; margin: auto;
 }