.tela-login {
    display: flex;
    flex-direction: column;
    margin: auto;
   // margin-top: 50%;
   //max-width: 800px;
   //vertical-align: middle;
   justify-content: center;
   align-items: center;
}

.logo-andi {
    display: flex; margin: auto;
}

.errors {
	font-size: small;
	color: #fff;
	background: var(--ion-color-danger);
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}