

<ion-content [fullscreen]="true">
<div class="tela-login">

  <img class="logo-andi" src="../../../assets/icon/andi.png" alt="">

  <h1>Entrar</h1>

  <form [formGroup]="credentials" (ngSubmit)="login()">
  <ion-item>
    <ion-input label="E-Mail" labelPlacement="floating" placeholder="Insira seu E-Mail" type="email" formControlName="email"></ion-input>
  </ion-item>
	<div *ngIf="(email?.dirty || email?.touched) && email?.errors" class="errors">
    <span *ngIf="email?.errors?.['required']">Email is required</span>
    <span *ngIf="email?.errors?.['email']">Email is invalid</span>
  </div>
  <ion-item>
    <ion-input label="Senha" labelPlacement="floating" placeholder="Insira sua senha" type="password" formControlName="password"></ion-input>
  </ion-item>
  <div *ngIf="(password?.dirty || password?.touched) && password?.errors" class="errors">
    <span *ngIf="password?.errors?.['required']">Password is required</span>
    <span *ngIf="password?.errors?.['minlength']">Password needs to be 6 characters</span>
  </div>
<br>
  <ion-button  type="submit" expand="block" [disabled]="!credentials.valid">Enviar</ion-button>
</form>
  <br>

  <ion-label routerLink="/signup"> <strong> Não tenho cadastro </strong></ion-label>
</div>
</ion-content>
