<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >{{ name }}</ion-title>

    <br>
    <ion-button (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container" class="container">
    <ion-button (click)="exibirTokenDoUsuario()">TOKEN</ion-button>
    <ion-button (click)="exibirNomeDoUsuario()">NOME</ion-button>
    <ion-button (click)="removerNome()">remover nome</ion-button>
    <ion-button (click)="exibirEmailDoUsuario()">EMAIL</ion-button>
    <ion-button (click)="exibirCPFDoUsuario()">CPF OU CNPJ</ion-button>


    <ion-button (click)="setToken(res, accessToken)">RELOAD TOKEN</ion-button>
    
    <ion-button (click)="setValue()">Set Value</ion-button>
    <ion-button (click)="getValue()">Get Value</ion-button>
    <ion-button (click)="removeValue()">remove Value</ion-button>
    <ion-button (click)="clearStorage()">clear Storage</ion-button>


    <div>{{value}}</div>
  </div>


</ion-content>
